*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  z-index: 10;
  transition: all 0.5s;
  padding-left: 39px;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #fefefe;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .logo {
    font-size: 26px;
    padding-left: 35px;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 22px;
    padding-left: 30px;
  }
}
.logo span {
  color: #65e496;
}
.logo::after, .logo::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 0;
  height: 0;
}
.logo::after {
  border-top: 28px solid #44444f;
  border-right: 28px solid transparent;
  z-index: 10;
}
@media (max-width: 1024px) {
  .logo::after {
    border-top: 25px solid #44444f;
    border-right: 25px solid transparent;
  }
}
@media (max-width: 480px) {
  .logo::after {
    border-top: 20px solid #44444f;
    border-right: 20px solid transparent;
  }
}
.logo::before {
  border-top: 28px solid #65e496;
  border-left: 28px solid transparent;
  z-index: 9;
}
@media (max-width: 1024px) {
  .logo::before {
    border-top: 25px solid #65e496;
    border-left: 25px solid transparent;
  }
}
@media (max-width: 480px) {
  .logo::before {
    border-top: 20px solid #65e496;
    border-left: 20px solid transparent;
  }
}

.button {
  transition: background 0.5s;
  padding: 13px 0 0 25px;
  text-decoration: none;
  display: block;
  width: 250px;
  height: 48px;
  background-color: #65e5a5;
  background-image: linear-gradient(-90deg, rgba(101, 228, 206, 0.69) -24%, rgba(101, 228, 161, 0.69) 125%);
  box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .button {
    font-size: 16px;
    width: 230px;
  }
}
@media (max-width: 800px) {
  .button {
    font-size: 14px;
    width: 200px;
    height: 38px;
    padding: 11px 0 0 20px;
  }
}
@media (max-width: 480px) {
  .button {
    font-size: 12px;
    width: 170px;
    height: 30px;
    padding: 8px 0 0 16px;
  }
}
.button:hover {
  background-image: none;
  background: #65e47d;
}

.title {
  width: 100%;
  font-size: 48px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #44444f;
}
@media (max-width: 1024px) {
  .title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }
}

.title-down {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #65e496;
}
@media (max-width: 1024px) {
  .title-down {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .title-down {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .title-down {
    font-size: 13px;
  }
}

.slider-wr {
  width: 100%;
  overflow: hidden;
}

.slider-line {
  display: flex;
  overflow: hidden;
}

.slider-item {
  min-width: 1px;
}
@media (max-width: 750px) {
  .slider-item {
    margin-right: 20px;
  }
}

.header {
  background-color: #536472;
  background-image: linear-gradient(-60deg, #54b7a1 -23%, #426384 123%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.header__logo {
  margin-right: 328px;
}
@media (max-width: 1200px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__burger-btn {
  display: none;
}
@media (max-width: 800px) {
  .header__burger-btn {
    transition: all 0.3s;
    display: block;
    z-index: 10;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger-btn span {
    transition: all 0.2s;
    position: absolute;
    width: 100%;
    top: 9px;
    left: 0;
    height: 2px;
    background-color: #fff;
  }
  .header__burger-btn::before {
    transition: all 0.3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 0;
  }
  .header__burger-btn::after {
    transition: all 0.3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
  }
  .header__burger-btn_active span {
    height: 0;
  }
  .header__burger-btn_active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger-btn_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
.header__nav {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  padding-top: 46px;
  margin-bottom: 178px;
}
@media (max-width: 1200px) {
  .header__nav {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    padding-top: 25px;
  }
}
@media (max-width: 800px) {
  .header__nav {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .header__nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #536472;
    background-image: linear-gradient(-60deg, #54b7a1 -23%, #426384 123%);
    z-index: 3;
    box-shadow: 0px 1px 14px 1px #35353547;
  }
  .header__nav__link {
    transition: border-radius 0s;
    font-size: 14px;
    display: block;
    text-align: left;
    padding: 8px 2px 8px 2px;
    color: #fff;
    z-index: 1;
  }
  .header__nav__link:hover {
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background-color: #1085e4;
  }
}
@media (max-width: 480px) {
  .header__nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__menu {
  list-style: none;
  display: flex;
}
@media (max-width: 800px) {
  .header__menu {
    display: none;
    transition: all 0.3s;
    overflow: auto;
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #536472;
    background-image: linear-gradient(-60deg, #54b7a1 -23%, #426384 123%);
    color: #7e8bae;
    padding: 60px 20% 5px 12px;
    z-index: 1;
  }
  .header__menu_active {
    top: 0;
    z-index: 1;
  }
}
.header__menu-item:last-of-type a {
  margin: 0;
}
.header__menu-link {
  display: block;
  position: relative;
  padding: 8px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #ffffff;
  margin-right: 1px;
}
@media (max-width: 1024px) {
  .header__menu-link {
    padding: 6px;
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .header__menu-link {
    width: 95px;
  }
}
.header__menu-link::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 32px;
  left: 11%;
  height: 3px;
  width: 80%;
}
@media (max-width: 800px) {
  .header__menu-link::after {
    top: 95%;
    left: 6px;
    width: 80%;
  }
}
.header__menu-link:hover::after {
  background-color: #65e496;
}

.product {
  padding-bottom: 162px;
  display: flex;
  width: 100%;
  transition: all 0.5s;
}
@media (max-width: 800px) {
  .product {
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 90px;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .product {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
.product__book {
  border-radius: 7px;
  background-image: url(../img/header/product/book.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38%;
}
@media (max-width: 950px) {
  .product__book {
    width: 350px;
    height: 502px;
  }
}
@media (max-width: 800px) {
  .product__book {
    height: 290px;
    width: 202px;
  }
}
.product__book-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 24.5% 0 0 8%;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .product__book-title {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .product__book-title {
    font-size: 22px;
    padding: 19.5% 0 0 0;
  }
}
.product__book-text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #65e496;
  text-align: center;
  padding: 0 0 0 8%;
}
@media (max-width: 1024px) {
  .product__book-text {
    font-size: 13.5px;
  }
}
@media (max-width: 800px) {
  .product__book-text {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px 0 0 0;
  }
}
.product__book-author {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #65e496;
  padding: 87.1% 0 11.5% 19.4%;
}
@media (max-width: 1024px) {
  .product__book-author {
    font-size: 13.5px;
    padding-top: 84%;
  }
}
@media (max-width: 950px) {
  .product__book-author {
    padding-bottom: 6.5%;
  }
}
@media (max-width: 800px) {
  .product__book-author {
    padding: 64% 0 9% 9.4%;
    font-size: 12px;
  }
}
.product__wrapper {
  width: 50%;
  margin-left: 4.7%;
}
@media (max-width: 1024px) {
  .product__wrapper {
    margin-left: 3.7%;
  }
}
@media (max-width: 900px) {
  .product__wrapper {
    margin-left: 32px;
  }
}
@media (max-width: 800px) {
  .product__wrapper {
    width: 100%;
    margin-left: 0;
  }
}
.product__author {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .product__author {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .product__author {
    font-size: 14px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .product__author {
    font-size: 13px;
    margin-top: 15px;
  }
}
.product__title {
  margin-top: 31px;
  font-size: 48px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .product__title {
    margin-top: 15px;
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .product__title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .product__title {
    font-size: 32px;
    margin-top: 0;
  }
}
@media (max-width: 343px) {
  .product__title {
    font-size: 29px;
  }
}
.product__text-1 {
  margin-top: 19px;
  font-size: 18px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #65e496;
}
@media (max-width: 1024px) {
  .product__text-1 {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media (max-width: 885px) {
  .product__text-1 {
    line-height: 18px;
  }
}
@media (max-width: 800px) {
  .product__text-1 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .product__text-1 {
    font-size: 13px;
    margin-top: 5px;
  }
}
.product__text-2 {
  max-height: 220px;
  margin-top: 42px;
  margin-bottom: 46px;
  overflow: auto;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .product__text-2 {
    font-size: 14px;
    max-height: 265px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
@media (max-width: 800px) {
  .product__text-2 {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .product__text-2 {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .product__text-2 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 300px;
  }
}
.product__text-2over {
  display: block;
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .product__text-2over {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .product__text-2over {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .product__text-2over {
    margin-top: 10px;
  }
}
.product__text-bottom {
  margin: 22px 0 0px -5px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.35px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .product__text-bottom {
    margin-top: 17px;
  }
}

.author {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .author {
    align-items: center;
  }
}
@media (max-width: 800px) {
  .author {
    justify-content: center;
    padding-top: 60px;
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 480px) {
  .author {
    padding-top: 40px;
  }
}
.author__wrapper {
  width: 50%;
}
@media (max-width: 800px) {
  .author__wrapper {
    width: 100%;
    margin-right: 0;
  }
}
.author__wrapper-2 {
  width: 37.1%;
  margin-left: 12.9%;
}
@media (max-width: 800px) {
  .author__wrapper-2 {
    min-width: 240px;
  }
}
@media (max-width: 480px) {
  .author__wrapper-2 {
    min-width: 200px;
  }
}
.author__title {
  margin-top: 17px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #696980;
}
@media (max-width: 1024px) {
  .author__title {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .author__title {
    font-size: 14px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .author__title {
    font-size: 13px;
    margin-top: 15px;
  }
}
.author__name {
  margin-top: 20px;
  font-size: 48px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: #44444f;
}
@media (max-width: 1024px) {
  .author__name {
    margin-top: 15px;
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .author__name {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .author__name {
    font-size: 32px;
    margin-top: 0;
  }
}
@media (max-width: 343px) {
  .author__name {
    font-size: 29px;
  }
}
.author__text-1 {
  margin-top: 19px;
  font-size: 18px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #65e496;
}
@media (max-width: 1024px) {
  .author__text-1 {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media (max-width: 885px) {
  .author__text-1 {
    line-height: 18px;
  }
}
@media (max-width: 800px) {
  .author__text-1 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .author__text-1 {
    font-size: 13px;
    margin-top: 5px;
  }
}
.author__text-2 {
  max-height: 220px;
  margin-top: 42px;
  margin-bottom: 46px;
  overflow: auto;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #696980;
}
@media (max-width: 1024px) {
  .author__text-2 {
    font-size: 14px;
    max-height: 265px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
@media (max-width: 800px) {
  .author__text-2 {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .author__text-2 {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .author__text-2 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 300px;
  }
}
.author__text-2over {
  display: block;
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .author__text-2over {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .author__text-2over {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .author__text-2over {
    margin-top: 10px;
  }
}
.author__btn {
  width: 237px;
  padding: 13px 0 0 28px;
}
@media (max-width: 1024px) {
  .author__btn {
    width: 217px;
  }
}
@media (max-width: 800px) {
  .author__btn {
    width: 186px;
    padding: 13px 0 0 22px;
  }
}
@media (max-width: 480px) {
  .author__btn {
    width: 156px;
    padding: 8px 0 0 16px;
  }
}
.author__text-bottom {
  margin: 22px 0 0px -5px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.35px;
  color: #696980;
}
@media (max-width: 1024px) {
  .author__text-bottom {
    margin-top: 17px;
  }
}
.author__img {
  width: 100%;
  height: auto;
  background: linear-gradient(-60deg, #5acab1 -13%, #426384 113%);
}
.author__img img {
  width: 100%;
  height: auto;
  padding: 11.9% 0 9.6% 0;
  transform: translateX(-10.4%);
}

.numbers {
  padding-top: 164px;
  padding-bottom: 148px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .numbers {
    padding: 130px 15px 130px 15px;
  }
}
@media (max-width: 800px) {
  .numbers {
    padding: 90px 15px 90px 15px;
  }
}
@media (max-width: 480px) {
  .numbers {
    padding: 50px 15px 50px 15px;
  }
}
@media (max-width: 400px) {
  .numbers {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .numbers__wrapper {
    width: 50%;
  }
}
.numbers__wrapper:first-of-type {
  margin-left: 7%;
}
@media (max-width: 1024px) {
  .numbers__wrapper:first-of-type {
    margin-left: 5.5%;
  }
}
@media (max-width: 924px) {
  .numbers__wrapper:first-of-type {
    margin-left: 3%;
  }
}
@media (max-width: 850px) {
  .numbers__wrapper:first-of-type {
    margin-left: 1%;
  }
}
@media (max-width: 800px) {
  .numbers__wrapper:first-of-type {
    margin-left: 0;
  }
}
.numbers__wrapper:first-of-type p:first-of-type {
  padding-left: 10%;
}
.numbers__wrapper:nth-of-type(2) {
  margin-left: 2.2%;
}
@media (max-width: 400px) {
  .numbers__wrapper:nth-of-type(2) {
    margin-left: 0;
  }
}
.numbers__wrapper:nth-of-type(2) p:first-of-type {
  padding-left: 8%;
}
.numbers__wrapper:last-of-type {
  width: 237px;
  margin-right: 5.5%;
}
@media (max-width: 1024px) {
  .numbers__wrapper:last-of-type {
    width: 205px;
  }
}
@media (max-width: 924px) {
  .numbers__wrapper:last-of-type {
    margin-right: 3%;
  }
}
@media (max-width: 850px) {
  .numbers__wrapper:last-of-type {
    margin-right: 1%;
  }
}
@media (max-width: 800px) {
  .numbers__wrapper:last-of-type {
    width: 175px;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .numbers__wrapper:last-of-type {
    width: 135px;
  }
}
@media (max-width: 400px) {
  .numbers__wrapper:last-of-type {
    width: 50%;
  }
}
.numbers__wrapper:last-of-type p:last-of-type {
  letter-spacing: -0.4px;
  margin-left: -3.5%;
}
.numbers__num {
  font-size: 80px;
  line-height: 44px;
  font-weight: 300;
  letter-spacing: 1.9px;
  color: #65e49d;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .numbers__num {
    font-size: 70px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .numbers__num {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .numbers__num {
    font-size: 45px;
    margin-bottom: 0;
  }
}
.numbers__text {
  font-size: 18px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0;
  color: #696980;
  text-align: center;
}
@media (max-width: 1024px) {
  .numbers__text {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .numbers__text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .numbers__text {
    font-size: 12px;
  }
}

.contents {
  background: #f5f6fa;
  padding-top: 155px;
  padding-bottom: 256px;
}
@media (max-width: 870px) {
  .contents {
    padding-bottom: 96px;
  }
}
@media (max-width: 800px) {
  .contents {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .contents {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contents__title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #44444f;
}
@media (max-width: 1024px) {
  .contents__title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .contents__title {
    text-align: left;
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .contents__title {
    font-size: 32px;
  }
}
.contents__title-down {
  margin-top: 16px;
  margin-bottom: 85px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #65e496;
}
@media (max-width: 1024px) {
  .contents__title-down {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .contents__title-down {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 70px;
    text-align: left;
  }
}
@media (max-width: 555px) {
  .contents__title-down {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .contents__title-down {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}
.contents__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .contents__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.contents__left {
  width: 465px;
}
@media (max-width: 1060px) {
  .contents__left {
    width: 40%;
  }
}
@media (max-width: 870px) {
  .contents__left {
    margin-right: 5%;
    margin-bottom: 50px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .contents__left {
    margin-bottom: 40px;
  }
}
.contents__left-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #44444f;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .contents__left-title {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .contents__left-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .contents__left-title {
    font-size: 18px;
  }
}
.contents__left-text {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #696980;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .contents__left-text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contents__left-text {
    font-size: 12px;
  }
}
.contents__left-links {
  display: flex;
}
.contents__left-footer {
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #44444f;
  margin-right: 25px;
  margin-left: 2px;
}
@media (max-width: 1024px) {
  .contents__left-footer {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .contents__left-footer {
    font-size: 14px;
  }
}
.contents__left-link i {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #65e496;
}
.contents__left-link i:first-of-type {
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .contents__left-link i {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .contents__left-link i {
    font-size: 14px;
  }
}
.contents__right {
  width: 573.3px;
}
@media (max-width: 1060px) {
  .contents__right {
    max-width: 551.3px;
    width: auto;
  }
}
@media (max-width: 870px) {
  .contents__right {
    max-width: inherit;
    width: 100%;
  }
}
.contents__right-title {
  font-family: "Roboto Slab";
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #44444f;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .contents__right-title {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .contents__right-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .contents__right-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.contents__right-link {
  transition: background 0.5s;
  position: relative;
  margin-right: 14px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #65e1b9;
  background-image: linear-gradient(-90deg, rgba(101, 228, 206, 0.69) -22%, rgba(101, 228, 161, 0.69) 127%);
}
.contents__right-link::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 50%;
  left: 35.17%;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .contents__right-link::before {
    left: 32%;
  }
}
.contents__right-link::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  top: 33.17%;
  left: 48%;
  background-color: #fff;
}
.contents__right-link:hover {
  background-color: #5189a0;
  background-image: none;
}
@media (max-width: 1024px) {
  .contents__right-link {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  .contents__right-lists {
    width: 100%;
  }
}
.contents__right-lists:first-of-type {
  margin-right: 10px;
  width: 50.5%;
}
@media (max-width: 1060px) {
  .contents__right-lists:first-of-type {
    width: 270px;
  }
}
@media (max-width: 1024px) {
  .contents__right-lists:first-of-type {
    width: 245px;
  }
}
@media (max-width: 870px) {
  .contents__right-lists:first-of-type {
    max-width: 270px;
    width: 50%;
  }
}
@media (max-width: 540px) {
  .contents__right-lists:first-of-type {
    max-width: inherit;
    width: 100%;
  }
}
.contents__right-list {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #696980;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  list-style: none;
}
@media (max-width: 1024px) {
  .contents__right-list {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contents__right-list {
    font-size: 12px;
  }
}
.contents__right-btn {
  margin-left: 3px;
  width: 135px;
  padding: 13px 0 0 45px;
}
@media (max-width: 480px) {
  .contents__right-btn {
    padding: 8px 0px 0 39px;
    width: 110px;
  }
}
.contents__right-wrapper {
  display: flex;
  margin-left: 3px;
  margin-bottom: 28px;
}
@media (max-width: 870px) {
  .contents__right-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .contents__right-wrapper {
    margin-bottom: 14px;
  }
}

.other {
  padding-top: 151px;
  padding-bottom: 162px;
}
@media (max-width: 800px) {
  .other {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .other {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.other__title {
  letter-spacing: 1.8px;
  text-align: center;
}
@media (max-width: 1024px) {
  .other__title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .other__title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .other__title {
    font-size: 32px;
  }
}
.other__title-down {
  margin-top: 16px;
  margin-bottom: 87px;
  text-align: center;
}
@media (max-width: 1024px) {
  .other__title-down {
    font-size: 16px;
    margin-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .other__title-down {
    font-size: 14px;
    margin-bottom: 45px;
  }
}
@media (max-width: 480px) {
  .other__title-down {
    font-size: 13px;
  }
}
.other__wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 82px;
}
@media (max-width: 1024px) {
  .other__wrapper {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .other__wrapper {
    flex-wrap: wrap;
    margin-bottom: 65px;
  }
}
@media (max-width: 480px) {
  .other__wrapper {
    margin-bottom: 45px;
  }
}
@media (max-width: 320px) {
  .other__wrapper {
    margin-bottom: 30px;
  }
}
.other__wrapper-book {
  width: 27%;
}
@media (max-width: 1024px) {
  .other__wrapper-book {
    max-width: 268px;
    width: 33%;
  }
}
@media (max-width: 800px) {
  .other__wrapper-book {
    min-width: 280px;
  }
}
@media (max-width: 800px) {
  .other__wrapper-book:first-of-type {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 607px) {
  .other__wrapper-book:first-of-type {
    margin-bottom: 15px;
  }
}
.other__wrapper-book:nth-of-type(2) {
  margin-right: 2.5%;
  margin-left: 2.5%;
}
@media (max-width: 1024px) {
  .other__wrapper-book:nth-of-type(2) {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
}
@media (max-width: 607px) {
  .other__wrapper-book:nth-of-type(2) {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  .other__wrapper-book:last-of-type {
    width: 100%;
  }
}
.other__book {
  margin-left: 23px;
  margin-bottom: 10.4%;
  border-radius: 7px;
  background-image: url(../img/other/book.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 85.5%;
}
@media (max-width: 1024px) {
  .other__book {
    min-width: 200px;
  }
}
.other__book-title {
  text-align: center;
  padding-top: 25%;
  padding-left: 13%;
  padding-bottom: 6px;
  width: 100%;
  font-family: "Roboto Slab";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.other__book-text {
  padding-left: 12%;
  padding-bottom: 86%;
  text-align: center;
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #65e496;
}
@media (max-width: 1024px) {
  .other__book-text {
    padding-bottom: 80%;
  }
}
.other__book-author {
  padding-left: 8%;
  text-align: center;
  width: 100%;
  padding-bottom: 11%;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #65e496;
}
.other__bottom {
  width: 100%;
}
.other__bottom-title {
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #44444f;
}
@media (max-width: 1024px) {
  .other__bottom-title {
    font-size: 23px;
  }
}
@media (max-width: 800px) {
  .other__bottom-title {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .other__bottom-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
}
.other__bottom-text {
  margin-bottom: 17px;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #696980;
}
@media (max-width: 1024px) {
  .other__bottom-text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .other__bottom-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}
.other__bottom-more {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #65e496;
}
@media (max-width: 480px) {
  .other__bottom-more {
    font-size: 14px;
  }
}
.other__browse-all {
  padding-left: 34px;
  margin: 0 auto;
  width: 220px;
}
@media (max-width: 1024px) {
  .other__browse-all {
    width: 208px;
  }
}
@media (max-width: 800px) {
  .other__browse-all {
    width: 191px;
  }
}
@media (max-width: 480px) {
  .other__browse-all {
    width: 176px;
  }
}

.experts {
  background-image: url(../img/experts/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 0;
  max-width: 1600px;
  width: 100%;
  height: 849px;
  margin: 0 auto;
  overflow: hidden;
}
.experts__content {
  padding-left: 0;
  padding-right: 0;
  user-select: none;
}
.experts__wrapper {
  padding-top: 221px;
  position: relative;
}
.experts__img {
  min-width: 0;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  width: 157px;
  height: 157px;
  object-fit: cover;
  user-select: none;
}
.experts__quote {
  min-width: 0;
  color: #65e47d;
  position: absolute;
  top: 220px;
  left: 53.5%;
  font-size: 49px;
}
@media (max-width: 800px) {
  .experts__quote {
    left: 54.5%;
  }
}
@media (max-width: 660px) {
  .experts__quote {
    left: 55.5%;
  }
}
@media (max-width: 540px) {
  .experts__quote {
    left: 56.5%;
  }
}
@media (max-width: 480px) {
  .experts__quote {
    left: 57.5%;
  }
}
@media (max-width: 374px) {
  .experts__quote {
    left: 59.5%;
  }
}
.experts__name {
  min-width: 0;
  margin-top: 21px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.1px;
  width: 100%;
  text-align: center;
  color: #65e496;
}
@media (max-width: 1024px) {
  .experts__name {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .experts__name {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .experts__name {
    font-size: 18px;
  }
}
.experts__title {
  min-width: 0;
  color: #9191b5;
  font-family: "Open Sans";
  margin-top: 6px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.7px;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .experts__title {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .experts__title {
    font-size: 12px;
  }
}
.experts__text {
  min-width: 0;
  color: #9191b5;
  font-family: "Open Sans";
  width: 64%;
  margin: 0 auto;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 47px;
  line-height: 1.8;
  letter-spacing: 0.27px;
}
@media (max-width: 1024px) {
  .experts__text {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .experts__text {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .experts__text {
    font-size: 12px;
  }
}
.experts__radio {
  display: flex;
  justify-content: space-evenly;
  width: 92px;
  margin: 0 auto;
}
.experts__btn {
  cursor: pointer;
  display: block;
  border: 1px solid #44444e;
  width: 8px;
  height: 8px;
  background: #65e496;
  border-radius: 50px;
}
.experts__btn:hover {
  background: #beddca;
}
.experts__btn:not(:last-of-type) {
  margin-right: 1.5px;
}
.experts__btn_active {
  background: #beddca;
  border: 1px solid #beddca;
}

.events {
  padding-top: 163px;
  padding-bottom: 171px;
  display: flex;
}
@media (max-width: 800px) {
  .events {
    padding-top: 60px;
    padding-bottom: 90px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .events {
    padding-bottom: 60px;
  }
}
.events__left {
  margin-right: 13.6%;
}
@media (max-width: 800px) {
  .events__left {
    width: 37.1%;
    min-width: 240px;
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .events__left {
    margin-right: 10%;
  }
}
.events__img {
  width: 100%;
  height: auto;
  background: linear-gradient(-60deg, #5acab1 -13%, #426384 113%);
}
.events__img img {
  width: 100%;
  height: auto;
  padding: 11.9% 0 9.6% 0;
  transform: translateX(11.4%);
}
.events__right {
  width: 48%;
}
@media (max-width: 1024px) {
  .events__right {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .events__right {
    width: 100%;
  }
}
.events__name {
  padding-left: 4px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 0.9;
  letter-spacing: 0.8px;
  text-align: left;
  color: #696980;
  margin-bottom: 27px;
}
@media (max-width: 1024px) {
  .events__name {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .events__name {
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .events__name {
    font-size: 13px;
  }
}
.events__title {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.92;
  letter-spacing: 1.8px;
  text-align: left;
  color: #44444f;
}
@media (max-width: 1024px) {
  .events__title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .events__title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .events__title {
    font-size: 32px;
  }
}
@media (max-width: 343px) {
  .events__title {
    font-size: 29px;
  }
}
.events__text {
  padding-left: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: #65e496;
}
@media (max-width: 1024px) {
  .events__text {
    font-size: 16px;
  }
}
@media (max-width: 885px) {
  .events__text {
    line-height: 18px;
  }
}
@media (max-width: 800px) {
  .events__text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .events__text {
    font-size: 13px;
  }
}
.events__wrapper {
  margin-top: 48px;
}
@media (max-width: 800px) {
  .events__wrapper {
    margin-top: 45px;
  }
}
@media (max-width: 480px) {
  .events__wrapper {
    margin-top: 35px;
  }
}
.events__wrapper:nth-of-type(2) {
  margin-top: 61px;
}
@media (max-width: 800px) {
  .events__wrapper:nth-of-type(2) {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .events__wrapper:nth-of-type(2) {
    margin-top: 40px;
  }
}
.events__date {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.75px;
  text-align: left;
  color: #696980;
}
@media (max-width: 1024px) {
  .events__date {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .events__date {
    font-size: 12px;
  }
}
.events__place {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.9px;
  text-align: left;
  color: #44444f;
}
@media (max-width: 1024px) {
  .events__place {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .events__place {
    font-size: 16px;
  }
}
.events__description {
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.75px;
  text-align: left;
  color: #696980;
}
@media (max-width: 1024px) {
  .events__description {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .events__description {
    font-size: 12px;
  }
}
.events__btn {
  width: 137px;
  padding-left: 34px;
}
@media (max-width: 1024px) {
  .events__btn {
    width: 130px;
    padding-top: 10px;
    height: 38px;
  }
}
@media (max-width: 480px) {
  .events__btn {
    width: 117px;
    padding-top: 8px;
    height: 34px;
  }
}

.blog {
  padding-top: 165px;
  padding-bottom: 150px;
  background-color: #f5f6fa;
}
@media (max-width: 800px) {
  .blog {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .blog {
    padding-top: 60px;
  }
}
.blog__title {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.9px;
  text-align: center;
  color: #44444f;
}
@media (max-width: 1024px) {
  .blog__title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .blog__title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .blog__title {
    font-size: 32px;
  }
}
@media (max-width: 343px) {
  .blog__title {
    font-size: 29px;
  }
}
.blog__title-bottom {
  padding-left: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #65e496;
}
@media (max-width: 1024px) {
  .blog__title-bottom {
    font-size: 16px;
  }
}
@media (max-width: 885px) {
  .blog__title-bottom {
    line-height: 18px;
  }
}
@media (max-width: 800px) {
  .blog__title-bottom {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .blog__title-bottom {
    font-size: 13px;
  }
}
.blog__wrapper {
  margin-top: 89px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .blog__wrapper {
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .blog__wrapper {
    margin-top: 40px;
  }
}
.blog__view {
  width: 31.5%;
}
@media (max-width: 800px) {
  .blog__view {
    width: 100%;
    text-align: center;
  }
  .blog__view:not(:last-of-type) {
    margin-bottom: 35px;
  }
}
.blog__view-img {
  max-width: 369px;
  max-height: 224px;
  width: 100%;
}
.blog__view-title {
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: #44444f;
}
@media (max-width: 1024px) {
  .blog__view-title {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .blog__view-title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .blog__view-title {
    font-size: 16px;
  }
}
.blog__view-name {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-align: left;
  color: #65e496;
}
@media (max-width: 1024px) {
  .blog__view-name {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .blog__view-name {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .blog__view-name {
    font-size: 12px;
  }
}
.blog__view-name span {
  color: #80809b;
}
.blog__view-text {
  margin-top: 15px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.75px;
  text-align: left;
  color: #696980;
}
@media (max-width: 1024px) {
  .blog__view-text {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .blog__view-text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .blog__view-text {
    font-size: 12px;
  }
}
.blog__btn {
  display: block;
  margin: 0 auto;
  margin-top: 85px;
  width: 265px;
  padding-left: 30px;
}
@media (max-width: 1024px) {
  .blog__btn {
    width: 239px;
  }
}
@media (max-width: 800px) {
  .blog__btn {
    width: 219px;
  }
}
@media (max-width: 480px) {
  .blog__btn {
    margin-top: 65px;
    width: 198px;
  }
}

.subscribe {
  padding-top: 167px;
  padding-bottom: 155px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .subscribe {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.subscribe__left {
  width: 47.9%;
}
@media (max-width: 800px) {
  .subscribe__left {
    width: 100%;
  }
}
.subscribe__right {
  padding-top: 3px;
  width: 48.7%;
}
@media (max-width: 800px) {
  .subscribe__right {
    width: 100%;
  }
}
.subscribe__title {
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: 1.6px;
  text-align: left;
  color: #44444f;
}
@media (max-width: 1024px) {
  .subscribe__title {
    font-size: 39px;
  }
}
@media (max-width: 800px) {
  .subscribe__title {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .subscribe__title {
    font-size: 32px;
  }
}
.subscribe__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.75px;
  text-align: left;
  color: #696980;
  font-family: "Open Sans";
}
@media (max-width: 1024px) {
  .subscribe__text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .subscribe__text {
    font-size: 12px;
  }
}
.subscribe__email {
  transition: box-shadow 0.3s;
  padding: 0px 50px 0 27px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1.15px;
  text-align: left;
  background-color: #444450;
}
@media (max-width: 480px) {
  .subscribe__email {
    height: 35px;
    font-size: 13px;
  }
}
.subscribe__email::-webkit-input-placeholder {
  color: #9191b5;
}
.subscribe__email::-moz-placeholder {
  color: #9191b5;
}
.subscribe__email:active, .subscribe__email:hover, .subscribe__email:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: 0px 5px 6px 2px rgba(100, 115, 130, 0.63);
}
.subscribe__btn {
  margin-top: 20px;
  width: 100%;
  padding-left: 42.4%;
}
@media (max-width: 1024px) {
  .subscribe__btn {
    padding-left: 41.4%;
  }
}
@media (max-width: 900px) {
  .subscribe__btn {
    padding-left: 40.4%;
  }
}
@media (max-width: 800px) {
  .subscribe__btn {
    padding-left: 45.4%;
  }
}
@media (max-width: 658px) {
  .subscribe__btn {
    padding-left: 44%;
  }
}
@media (max-width: 540px) {
  .subscribe__btn {
    padding-left: 43%;
  }
}
@media (max-width: 425px) {
  .subscribe__btn {
    padding-left: 42%;
  }
}
@media (max-width: 390px) {
  .subscribe__btn {
    padding-left: 41%;
  }
}
@media (max-width: 320px) {
  .subscribe__btn {
    padding-left: 39%;
  }
}

.footer {
  padding-top: 156px;
  padding-bottom: 154px;
  background-color: #44444f;
}
@media (max-width: 800px) {
  .footer {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer__wrapper {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
}
.footer__left {
  width: 31.1%;
}
@media (max-width: 800px) {
  .footer__left {
    width: 50%;
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .footer__left {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__left {
    margin-bottom: 15px;
  }
}
.footer__left-text {
  margin-top: 24px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.6px;
  text-align: left;
  color: #9191b5;
}
@media (max-width: 1024px) {
  .footer__left-text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .footer__left-text {
    font-size: 12px;
  }
}
.footer__mid {
  width: 216px;
  margin-right: 4.1%;
}
@media (max-width: 1024px) {
  .footer__mid {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .footer__mid {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .footer__mid {
    width: 100%;
    margin-bottom: 15px;
  }
}
.footer__mid-title {
  margin-bottom: 18px;
  padding-top: 13px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.72px;
  text-align: left;
  color: #65e496;
}
@media (max-width: 1024px) {
  .footer__mid-title {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .footer__mid-title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .footer__mid-title {
    font-size: 14px;
  }
}
.footer__mid-link {
  transition: color 0.3s;
  display: block;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.87;
  letter-spacing: 0.6px;
  text-align: left;
  color: #9191b5;
}
@media (max-width: 1024px) {
  .footer__mid-link {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .footer__mid-link {
    font-size: 12px;
  }
}
.footer__mid-link:hover {
  color: #aeaed8;
}
.footer__right {
  width: 21.9%;
  margin-right: 1.2%;
}
@media (max-width: 1024px) {
  .footer__right {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .footer__right {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .footer__right {
    width: 100%;
  }
}
.footer__right-title {
  margin-bottom: 22px;
  padding-top: 13px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.72px;
  text-align: left;
  color: #65e496;
}
@media (max-width: 1024px) {
  .footer__right-title {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .footer__right-title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .footer__right-title {
    font-size: 14px;
  }
}
.footer__right-text {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.6px;
  text-align: left;
  color: #9191b5;
}
@media (max-width: 1024px) {
  .footer__right-text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .footer__right-text {
    font-size: 12px;
  }
}
.footer__right-text:nth-of-type(3), .footer__right-text:nth-of-type(4) {
  margin-top: 3px;
}
.footer__right-wrapper {
  display: flex;
  margin-top: 14px;
  margin-left: -2px;
  justify-content: space-between;
  width: 149px;
}
.footer__right-link {
  transition: color 0.3s;
  color: #65e496;
}
.footer__right-link:hover {
  color: #5189a0;
}
.footer__bottom {
  margin-top: 11px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.6px;
  text-align: left;
  color: #9191b5;
}
@media (max-width: 1024px) {
  .footer__bottom {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .body__lock {
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
